.display {
  border: #dfe1e5 solid 1px;
  height: 3em;
  border-radius: 3px;
  margin: 1em 0;
  width: 100%;
}

.decimal {
  grid-area: period;
}

.clear {
  grid-area: ce;
}

.add {
  grid-area: plus;
}

.subtract {
  grid-area: sub;
}

.divide {
  grid-area: divide;
}

.multiply {
  grid-area: multi;
}


.pad {
  display: block;

}

.pad-btn {
  border: none;
  padding: 1em 2em;
  border-radius: 3px;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  vertical-align: top;
  width: 22%;
}

.pad-btn:first-of-type {
  width: 100%;
}

.pad-btn:hover {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

@supports(display: grid) {
  .pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    grid-template-areas:
      ".     .      .      ce"
      "seven eight  nine   divide"
      "four  five   six    multi"
      "one   two    three  sub"
      "zero  period equals plus";
  }

  .pad-btn,
  .pad-btn:first-of-type {
    width: auto;
  }
}

.numbers {
  background: #f1f3f4;
}

.operators {
  background: #dfe1e5;
}

.equals {
  background: #4285f4;
  grid-area: equals;
}